<!doctype html>
<html>
  <head>
    <title>Youtube Party - Watch with your friends</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.room.css') }}">
    <!--<link rel="stylesheet" href="../static/style.room.css">-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="modal fade" id="exampleModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <form id="modalForm">
                <div class="form-group">
                  <label for="username" class="col-form-label">Display Name:</label>
                  <input id="username" type="text" class="form-control" required>
                </div>
                <button id="submitusername" type="submit" class="btn btn-danger" style="float:right">Confirm</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div id="overlay">
        
        <div id="header-container">
            <div id="headerBar">
              <span id="logo">
                <h1 style="font-size:300%">
                  <a href="{{ url_for('index') }}">
                      YouTube Party
                  </a>
                </h1>
              </span>
            </div>
          </div>
    
          <div class="grid-container"> 
            <!--Action Hub-->
            <div id="action-hub">
              <div id="queue-container">
                <h3>
                  Queue a video
                </h3>
                <form>
                  <input type="text" class="form-control" id="video-url" placeholder="Enter Youtube video URL" required>
                  <button id="btn-url-submit" class="btn btn-danger" type="submit">
                    Submit
                  </button>
                </form>
              </div>
              <div id="userlist-container">
                <h3 class="my-3">Users</h3>
                <ul id="userlist"></ul>
              </div>
            </div>
    
            <!--Youtube Player-->
            <div id="player-container">
              <div id="player"></div>
            </div>
    
            <!--Chat Area-->
            <div class="chat-container">
              <div id="chat-header">
                <b>Chat</b>
              </div>
              <ul id="messages" class="messages"></ul>
              <div id="inputField" class="input-group">
                <input id="myMessage" class="form-control" aria-label="myMessage" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button id="sendbutton" class="btn btn-danger" type="button">Send</button>
                </div>
              </div>
            </div>
            
        </div>
      </div>
    <script type="text/javascript">
      
      var socket = io.connect('http://127.0.0.1:5000');
      var displayname = "";
      var firstinit = false;
      var users;

      socket.on('message', function(data){
        $("#messages").append("<li><span class='username'>"+data.username+": </span><span class='messagebody'>"+data.message+"</span></li>");
        $("#messages").scrollTop($("#messages")[0].scrollHeight);
        console.log('Received message');
      });

      socket.on('user init', function(user_list){
        if(firstinit == false){
          var i;
          var listnodupes = ArrNoDupe(user_list);   
          for(i = 0; i < listnodupes.length; i++){
            $("#userlist").append("<li class='user'>"+listnodupes[i]+"</li>");
          }
          firstinit = true;
        }
      });

      socket.on('user added', function(username, user_list){
        $("#messages").append("<li>"+username+" has joined the room</li>");
        $("#userlist").append("<li class='user'>"+username+"</li>");
      });

      socket.on('user left', function(username){
        removeSpec(username);
        $("#messages").append("<li>"+username+" has left the room</li>");
      })

      socket.on('connect',function(){
        socket.emit('join');
      });

      socket.on('disconnect',function(){
        socket.emit('leave');
      });



      $('#sendbutton').on('click',function(){
        if($('#myMessage').val() != ""){
          text = $('#myMessage').val();
          $('#myMessage').val('');
          socket.emit('text',text);
        }
      });

      $('#myMessage').keydown(function(event){
        if(event.keyCode == 13){
          event.preventDefault();
          document.getElementById('sendbutton').click();
        }
      });

      $('#exampleModal').modal('show');

      $('#modalForm').submit(function(event){
        event.preventDefault();
        if($('#username').val() != ""){
          name = $('#username').val();
          socket.emit('add user', name);
          $('#exampleModal').modal('hide');
          displayname = name;
        }
      });

      function ArrNoDupe(a) {
        var temp = {};
        for (var i = 0; i < a.length; i++)
            temp[a[i]] = true;
        var r = [];
        for (var k in temp)
            r.push(k);
        return r;
      }

      function removeSpec(query){
        elements = document.getElementsByClassName('user'); /* Get the li elements in the list */
        var myList = document.getElementById("userlist"); /* Var to reference the list */
        var length = (document.getElementsByClassName('user').length); /* # of li elements */
        var checker = 'false'; /* boolean-ish value to determine if value was found */

        for(var counter = 0; counter < length; counter ++)
        {
            if (elements[counter].textContent == query )
            {
                myList.removeChild(myList.children[ (counter) ]);
                // better: myList.removeChild(elements[counter]);
                checker="true";
                break;
            }
        }
        if ( checker == "false") 
        {
            alert("Not Found");
          }
      }

      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      var player;

      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: $('#player-container').height(),
          width: $('#player-container').width(),
          videoId: 'M7lc1UVf-VE',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var lastEventTime = new Date();
      var lastBufferingTime = new Date();
      var expectedEvent;
      function onPlayerStateChange(event) {  
        switch(event.data){
          case YT.PlayerState.PAUSED:
            socket.emit('video paused');
            lastEventTime = new Date();
            break;
          case YT.PlayerState.PLAYING:
            socket.emit('video played');
            lastEventTime = new Date();
            break;
          case YT.PlayerState.BUFFERING:
            socket.emit('video buffering', player.getCurrentTime());
            break;
        }
      }

      socket.on('play video', function(){
        player.playVideo();
      });

      socket.on('pause video', function() {
        player.pauseVideo();
      });

      socket.on('buffer video', function(time) {
        player.seekTo(time);
        player.playVideo();
      });

    </script>
  </body>
</html>