
*{
    margin: 0;
}

html, body{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    min-height:35rem;
    font-family: "Roboto Condensed",sans-serif;
    font-weight:300;
}

#overlay{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width:100%;
    background-color: #474747;
}

.grid-container{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 100%;
    grid-gap: 10px;
    padding: 10px;
    padding-top: 0px;
    height: 100%;
    margin: 0;
    z-index: 999;
}

#action-hub{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

#header-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 50px;
    font-weight:700;
    margin-bottom: 10px;
}

#headerBar{
    height: 100%;
    background-color: #dc3545;
}

#header-container h2{
    position: absolute;
    left: 0;
    margin-left: 10px;
    padding-top: 5px;
    font-weight:700;
}


#header-container a{
    color: #e9ecef;
    text-decoration: none;
}

#leaveroom{
    position: absolute;
    right: 0;
    padding-right: 10px;
    padding-top: 5px;
    color: #e9ecef;
}

#queue-container{
    height: 80%;
    width: 100%;
    text-align: center;
}

#playlist-container{
    height: 60%;
}

#playlist{
    background-color: lightgray;
    height: 80%;
    overflow: auto;
    padding: 0;
    padding-left: 18px;
}

.playlist-title{
    text-align: left;
}

#playlist a{
    text-decoration: none;
    color: #212529;
}

#playlist li{
    padding-top: 8px;
}

#playlist li span{
    display: inline;
    text-overflow: ellipsis;
    text-align: start;
    margin: 0;
    overflow:hidden; 
    white-space: nowrap;
    font-weight: bold;
}

.video-info{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-gap: 10px;
}

.author{
    text-align: start;
}

.thumbnail{
    float: left;
    margin: 0 15px 0 0;
    height: 60px;
    width: 100%;
}

.grid-container .player-container{
    background-color: rgba(225, 225, 225, 0.8);
}

.grid-container .chat-container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #e9ecef;
    border-radius: 0.3rem;
    height: 100%;
}


#player{
    height: 80%;
    width: 100%;
}

#info-container{
    height: 19%;
    background-color: #e9ecef;
    border-radius: .3rem;
}

#btn-url-submit{
    width: 100%;
    margin-top: 10px;
}

#userlist-container{
    height: 100%;
    padding-top: 10px;
}

#video-info-container{
    height: 60%;
}

#video-info{
    height: 100%;
    list-style-type: none;
}

#video-info h5{
    margin: 0;
}

#UsersHeader{
    text-align: left;
    padding-inline-start: 40px;
    color: #dc3545;
}

#userlist-container h4{
    height: auto;
}

#userlist-container a{
    text-decoration: none;
    color: #212529;
}

#userlist{
    height: 75%;
    overflow: auto; 
    overflow-x: hidden;
    margin-bottom: 0;
    list-style-type:none;
}

#userlist li{
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}


#voteskip-container{
    margin-top: 15px;
    height: 13%;
}

#btn-voteskip{
    width: 100%;
}

#chat-header{
    text-align: center;
}


#messages{
    padding: 10px;
    width: 100%;
    height: 90%;
    overflow: auto; 
    overflow-x: hidden;
    list-style-type:none;
}

#inputField{
    width: 95%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#input-field{
    margin: 0;
}